.sidBar {

    border: 2px  solid #bbb;
    border-top: 0;
    
    min-width: 100%;
    /* min-height: 100%; */
    padding: 0 15px;
    display: flex;
    
    flex-flow: column wrap;
    justify-content: space-around;
    
}


.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
   
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 15px;
    min-width: 100%;
    margin: 10px auto;

}

.btn-info {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.btn-info:hover {
    background-color: #4CAF50;
    color: white;
}