.row {
    display: flex;
    justify-content: space-between;
}

.products {

    display: flex;
    justify-content: flex-start;

    flex-flow: row wrap;
    text-align: center;
    width: 100%;
}

.item {
    border: 5px solid black;
    border-radius: 10px;
    line-height: 130px;
    min-width: 100px;
    min-height: 100px;
    margin: 10px;
    
    width: 20%;
}